# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Flask
instance/

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated ML artifacts
model/*.pkl

# Python build files
build/
dist/
*.egg-info/